certifi==2019.11.28
cffi==1.14.0
cryptography==2.8
decorator==4.4.2
ffmpeg==1.4
ffprobe==0.5
future==0.18.2
ImageHash==4.0
numpy==1.18.1
Pillow==7.0.0
pycparser==2.19
pydub==0.24.0
python-telegram-bot==12.4.2
PyWavelets==1.1.1
PyYAML==5.3
scipy==1.4.1
six==1.14.0
SpeechRecognition==3.8.1
telegram==0.0.1
tornado==6.0.3
